@font-face {
    font-family: 'Irma-Black';
    src: url('./typo/Irma-Black.woff2') format('woff2'),
         url('./typo/Irma-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InknutAntiqua-Black';
    src: url('./typo/InknutAntiqua-Black.woff2') format('woff2'),
         url('./typo/InknutAntiqua-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InknutAntiqua-Medium';
    src: url('./typo/InknutAntiqua-Medium.woff2') format('woff2'),
         url('./typo/InknutAntiqua-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html{
  height: 100%;
  margin:0px;
  padding:0px;
}

.body{
  clear: both;
  height: 100%;
  position: relative;

}

body, footer{
  display: block;
  margin-top: 0px;
}

/*————————————————————————————ABOUT————————————————————————————————*/

.about{
  font-size: 4em;
  position: absolute;
  display: block;
left: 1210px;
top: 0px;
margin-top: 0px;
padding-top: 0px;
text-decoration: none;
color: black;
}



/*————————————————————————————FOOTER————————————————————————————————*/


h1{
  font-family: 'Irma-Black',serif;
  color: black;
  text-decoration: none;
  font-size: 1em;
  text-align: right;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}


h2{
font-family: 'InknutAntiqua-Medium',serif;
font-size:0.8em;
line-height: 1.3em;
text-decoration: none;

font-style: normal;
color: rgb(51,255,102);
text-align: right;
margin: 0px;
padding: 0px;

}


.home{
display: inline-block;
position: absolute;
left:520px;
top:580px;
text-decoration: none;
}
/*————————————————————————————CITATION ABOUT————————————————————————————————*/

h4{
position: absolute;
left:50px;
top:0px;
font-family: 'InknutAntiqua-Medium',serif;
font-size:2.5em;
line-height: 1.5em;
font-style: normal;
color: black;

}

.dragDrop
{
position:absolute;
z-index:0;
}


/*———————————————————————————— PROPRIETE VISIBLE + TOUS LES SIGNES */
.visible {
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0;
  margin:0;
  cursor: pointer;
}



.signeechoppe{
  width:100px;
  height:auto;
  position:absolute;
  left:950px;
  top:380px;
  transition:opacity .3s;
  z-index:1;
}

.signemarmhotte{
  width:100px;
  height:auto;
  position:absolute;
  left:890px;
  top:470px;
  transition:opacity .3s;
  z-index:1;
}

.signejardin{
  width:200px;
  height:auto;
  position:absolute;
  left:730px;
  top:360px;
  transition:opacity .3s;
  z-index:1;
}

.signeecuries{
  width:90px;
  height:auto;
  position:absolute;
  left:820px;
  top:250px;
  transition:opacity .3s;
  z-index:1;
}

.signeterres{
  width:100px;
  height:auto;
  position:absolute;
  left:780px;
  top:150px;
  transition:opacity .3s;
  z-index:1;
}

.signeecovolontariat{
  width:100px;
  height:auto;
  position:absolute;
  left:810px;
  top:45px;
  transition:opacity .3s;
  z-index:1;
}

.signegratuiterie{
  width:100px;
  height:auto;
  position:absolute;
  left:900px;
  top:45px;
  transition:opacity .3s;
  z-index:1;
}

.signegites{
  width:170px;
  height:auto;
  position:absolute;
  left:960px;
  top:70px;
  transition:opacity .3s;
  z-index:1;
}

.signebureau{
  width:80px;
  height:auto;
  position:absolute;
  left:1085px;
  top:237px;
  transition:opacity .3s;
  z-index:1;
}

.signeressourcerie{
  width:120px;
  height:auto;
  position:absolute;
  left:1040px;
  top:320px;
  transition:opacity .3s;
  z-index:1;
}





/*———————————————————————————— IMAGE SECRET */

.visible:hover + .secret{
  opacity:1;
}



.secret {
  float: right;
  position:absolute;
  left: 10px;
  top:10px;
  width: 65%;
  height:auto;
  z-index:0;
  opacity:0;
  transition:opacity .3s;
  margin: 0px;
}

/*———————————————————————————— DESCRIPTION IMAGE SECRET*/

h3 {
  font-family: 'InknutAntiqua-Medium',serif;
  font-size: 1em;
  color: rgb(51,255,102);
  display: inline-block;
  line-height: 0em;
  margin-top: 20px;
}

p{
  font-family: 'InknutAntiqua-Medium',serif;
  font-size: 0.8em;
  display: inline-block;
  line-height: 0em;
  margin-top: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;

}
